html{
    height: 100%;
}

body{
    background-color: #585898;
    min-height: 100%;

    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 25%  50% 25%;
    grid-template-areas: 
    ". title ."
    ". description ."
    ". form .";
}


    

       


#title{
    text-align: center;
    grid-area: title;
    color: white;


}

#description{
    text-align: center;
    grid-area: description;
    color: white;

}

#survey-form{
    max-width: 100%;
  height: auto;
    display: flex;
    flex-direction: column;
    grid-area: form;
    background-color: #252546;
    padding: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    color: white;
}
  

#name-label{
    font-weight: bold;

}

#name{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;
    

}


#email-label{
    font-weight: bold;
}

#email{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;
}

#number-label{
    font-weight: bold;
}

#number{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;
}

#dropdown-label{
    font-weight: bold; 
}

#dropdown{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;
}

#radio-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;

}

#radio-legend{
    font-weight: bold;
}

#radio1{

}

#radio2{

}

#radio3{

}

#checkbox-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%;
    margin-bottom: 2.5%;

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;

}

#checkbox-legend{
font-weight: bold;
}

#checkbox1{
    float: left;
}

#checkbox2{
    float: left;
}

#checkbox3{
    float: left;
}

#text-area-label{
    font-weight: bold;
}

#text-area{

    border-style: solid;
    border-width: 2.5%px;
    border-radius: 10px;
    border-color: white;
   
}

#submit{
margin-top: 2.5%;
padding: 1.5%;

background-color: #37AF65;

border-style: solid;
    border-radius: 10px;
    color: white;
    
}



