html{
    height: 100%;
}

body{
   /* background-color: #585898;*/
   background-color: #003980;
    min-height: 100%;

    display: grid;
    grid-template-rows: 5% 10% 85%;
    grid-template-columns: 25%  50% 25%;
    grid-template-areas: 
    ". title ."
    ". description ."
    ". form .";
}


    

       


#title{
    text-align: center;
    grid-area: title;
    color: white;
    margin: 2.5%;
    


}

#description{
    text-align: center;
    grid-area: description;
    color: white;
    font-size:x-large;
    margin: 2.5%;

}

#survey-form{
    max-width: 100%;
  height: auto;
    display: flex;
    flex-direction: column;
    grid-area: form;
    background-color: #00224D;
    /* background-color: #252546; */
    padding: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    color: white;
}

#personal-info-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}
#personal-info-legend{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
  

#name-label{
    font-weight: bold;

}

#name{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
    

}


#email-label{
    font-weight: bold;
}

#email{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}

#number-label{
    font-weight: bold;
}

#number{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}

#weight-label{
    font-weight: bold;
}

#weight{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}

#height-label{
    font-weight: bold;
}

#height{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;  
}

#goals-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}

#goals-legend{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

#dropdown-label{
    font-weight: bold;  
}

#dropdown{
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;

    display: flex;
    flex-direction: column;
}

#radio-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border: 0;

}
/*
#radio-legend{
    
}

#radio1{

}

#radio2{

}

#radio3{

}
*/
#goals-why-label{
    font-weight: bold;
    margin-bottom: 2.5%;
}

#goals-why-text {
    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
    resize: none;
    margin-bottom: 2.5%;

    display: flex;
    flex-direction: column;
}

#goals-what-label{
    font-weight: bold;
    margin-bottom: 2.5%;
}

#goals-what-text {
    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
    resize: none;

    display: flex;
    flex-direction: column;
}

#add-info-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
}

#add-info-legend{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

#checkbox-fieldset{
    display: flex;
    flex-direction: column; 
    padding: 1.5%; 
    margin-bottom: 2.5%;

    border: 0;

}

#checkbox-legend{
font-weight: bold;
}

#checkbox1{
    float: left;
}

#checkbox2{
    float: left;
}

#checkbox3{
    float: left;
}

#time-label{
    font-weight: bold;
    margin-top: 2.5%;

}

#time{
    margin-top: 1%;
    padding: 1.5%;

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white; 
}

#text-area-label{
    font-weight: bold;
    margin-bottom: 2.5%;
}

#text-area{

    border-style: solid;
    border-width: 2.5%;
    border-radius: 10px;
    border-color: white;
    resize: none;

    height: 75px;


   
}

#submit{
margin-top: 2.5%;
padding: 1.5%;
font-weight: bold;
font-size: 24px;
    

background-color: #003980;

border-style: solid;
    border-radius: 10px;
    color: white;
    
}



